<html>
  <head>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
        <div class="alert alert-danger">
        <strong>Ocorreu um erro!</strong> <%= error %>
        </div>
  </body>
</html>